.git
.gitignore
.dockerignore
log/*
tmp/*
!tmp/.keep
storage/*
!storage/.keep
node_modules
.bundle
.env
.env.*
!.env.example
public/assets
app/assets/builds/*
!app/assets/builds/.keep
coverage
vendor/bundle
*.swp
.DS_Store
db/seeds/images
test
config/master.key
README.md
DEPLOYMENT.md
